.menu-button{
    background-color:rgb(80, 132, 235);
        color: #ffffff;
        padding: 6px 12px;
        font-family: monospace;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        margin: 12px;
        border-radius: 4px;
}

.menu-header{
    padding: 1%;
    text-align: center;
}

.region-header {
    width: 100%;
    text-align: left;
    padding: 3%;
    background-color: rgb(80, 132, 235);
    color: rgb(255, 255, 255);
}

.subregion{
    width: 100%;
    text-align: left;
    padding: 1%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 3px;
    border-width: 3px;
    border-color: blueviolet;
    border-style: solid;
}